.create-campsite-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20rem;
  height: 35rem;
}

.create-campsite-button {
  /* width: 2rem; */
}

.create-post-input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 0.5rem;
}

.create-post-input-wrapper > * {
  margin: 5px 0;
}

.create-post-input-wrapper > *:first-child {
  margin-top: 0;
}

.create-post-input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
  border: 1px solid black;
  border-radius: 5px;
}

.create-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #4b6b3c;
  margin-top: 1rem;
  color: white;
  font-weight: 600;
  font-size: 16px;
}

.create-submit:hover {
  background-color: #ff4f00;
}
