.search-result-link {
  background: none;
  border: none !important;
  display: block;
  padding: 0 !important;
  transition: none !important;
}

.search-result-link > div {
  border-radius: 4px;
  padding: 8px;
  width: 100%;
}

.search-bar-form {
  padding: 0;
  width: 100%;
}

.search-bar-form input {
  border: none;
  display: flex;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  padding: 0.4em;
  transition: border 200ms;
  min-width: 275px;
}

.search-bar-form > div {
  align-items: center;
  display: flex;
  position: relative;
}

.search-results {
  color: white;
  background-image: linear-gradient(
    to left,
    #4b6b3c,
    #486438,
    #455e34,
    #425731,
    #3f512d,
    #3f4c29,
    #3e4726,
    #3d4223,
    #3e3d21,
    #3e371f,
    #3d331e,
    #3b2e1e
  );
  top: 50px;
  border-radius: 4px;
  box-shadow: 0 10px 25px rgb(0 0 0 / 30%), 0 20px 48px rgb(0 0 0 / 16%),
    0 1px 4px rgb(0 0 0 / 12%);
  max-height: 20em;
  opacity: 0;
  overflow-y: scroll;
  padding: 16px;
  position: absolute;
  visibility: hidden;
  transform: scale(1.1);
  transition: all 200ms;
  max-width: 15em;
  color: black;
  z-index: 1;
  right: 40%;
  top: 45%;
  font-weight: 600;
}

.search-results :visited {
  color: white;
}
.results-active {
  opacity: 1;
  visibility: visible;
  transform: scale(1.1);
}

.search-result-li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
