.all-campsites-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 4em;
}

.all-campsites-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.all-campsites-map {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4em;
}

.all-campsites-map h2 {
  margin-bottom: 0;
}

.campsite-card {
  border-radius: 1rem;
  display: flex;
  width: 400px;
  border: #ff4f00 solid 2px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.campsite-card:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
.campsite-card a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.campsite-card a img {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.campsite-preview-image {
  width: 300px;
  height: 200px;
  background-color: #f5f5f5;
}

@media screen and (max-width: 768px) {
  .campsite-card {
    width: 300px;
  }
  .campsite-card a img {
    width: 300px;
    height: 200px;
  }

  .campsite-preview-image {
    width: 200px;
    height: 100px;
  }

  .all-campsites-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
