.delete-campsite-button {
  background-color: #3a4928;
  color: #907a48;
  border-radius: 0.5rem;
  padding: 0.3rem 0.7rem;
}

.delete-campsite-button:hover {
  background-color: red;
  color: #ffffff;
}
