.homepage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url("https://u.cubeupload.com/felipe916/TLC1393Edit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.homepage__contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 30rem;
  border-radius: 10px;
  padding: 1rem;
  z-index: 0;
  height: 70px;
  margin-top: 6rem;
}

.homepage-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .homepage__contents {
    width: 22rem;
    padding: 2rem;
  }
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30rem;
}

.homepage__description {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  width: 50%;
  line-height: 1.5;
  padding: 1rem;
  margin-top: 3rem;
  border-radius: 8px;
  font-weight: 500;
}
