.homepage__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: chartreuse;
  background-image: url("https://u.cubeupload.com/felipe916/TLC1393Edit.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px;
}

.homepage__contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100vh;
  background-color: white;
  opacity: 0.8;
  height: 25%;
  width: 50%;
  border-radius: 10px;
}
