.update-campsite-button {
  background-color: #3a4928;
  color: #907a48;
  border-radius: 0.5rem;
  padding: 0.3rem 0.7rem;
}

.update-campsite-button:hover {
  background-color: #907a48;
  color: #ffffff;
}

.edit-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  padding: 20px;
}

.edit-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-form-label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.edit-form-label-input {
  width: 100%;
  height: 30px;
  border-radius: 0.5rem;
  padding: 0.3rem 0.7rem;
}
