.campsite-detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: aqua;
}

.campsite-detail-container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgb(134, 237, 79);
}

.campsite-detail-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgb(255, 0, 230);
}

.campsite-detail-image-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(202, 67, 67);
}

.campsite-detail-image-container img {
  width: 500px;
  /* height: 400px; */
  object-fit: cover;
}

.reviews-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.campsite-detail-container-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgb(79, 103, 237);
}
