.campsite-detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  margin-top: 3rem;
  margin-bottom: 4rem;
}

#campsite-image-info {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.campsite-detail-info {
  padding: 1rem;
  margin: 1rem;
  width: 350px;
  border-radius: 2rem;

  background-image: linear-gradient(
    to left top,
    #d4bf88,
    #d8c794,
    #ddcfa0,
    #e1d6ad,
    #e6deb9
  );
}

.campsite-detail-container-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  box-sizing: border-box;
  width: 100%;
  flex-wrap: wrap;
}

.campsite-detail-info-container {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  background-image: linear-gradient(
    to right bottom,
    #4b6b3c,
    #486438,
    #455e34,
    #425731,
    #3f512d,
    #3f4c29,
    #3e4726,
    #3d4223,
    #3e3d21,
    #3e371f,
    #3d331e,
    #3b2e1e
  );
  width: 30rem;
  min-width: 400px;
  flex-wrap: wrap;
  border-radius: 2rem;
}

.campsite-name {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #907a48;
}

.user-manipulation-button {
  margin: 0 1rem;
  padding: 0.5rem;
  color: #907a48;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.user-manipulation-button button {
  background-color: white;
  border: none;
  color: black;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.campsite-detail-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.campsite-map-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* create media query */
.campsite-detail-image-container img {
  width: 40rem;
  max-height: 700px;
  object-fit: contain;
}
