.campsite-detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}

.campsite-detail-image-container {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.campsite-detail-image-container img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.reviews-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
