.campsite-detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.campsite-detail-info {
  background-color: aqua;
  padding: 1rem;
  margin: 0.5rem;
  width: 300px;
}
.campsite-detail-container-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.campsite-detail-info-container {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: #e6deb9;
  width: 50%;
  min-width: 300px;
  flex-wrap: wrap;
  padding: 25px;
  border-radius: 2rem;
}

.campsite-name {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #4b6b3c;
}
.campsite-detail-image-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.campsite-detail-image-container img {
  width: 75%;
  object-fit: cover;
}

.reviews-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.campsite-detail-container-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 0 20px;
  box-sizing: border-box;
  background-color: rgb(79, 103, 237);
  width: 50%;
  min-width: 300px;
  flex-wrap: wrap;
}
