.campsite-detail-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

#campsite-image-info {
  display: block;
  width: 100%;
  flex-wrap: wrap;
}

.campsite-detail-info {
  padding: 1rem;
  margin: 1rem;
  width: 100%;
  border-radius: 2rem;

  background-color: #e6deb9;
}

.campsite-detail-container-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  box-sizing: border-box;
}

.campsite-detail-info-container {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  background-color: #3a4928;
  width: 30rem;
  min-width: 400px;
  flex-wrap: wrap;
  border-radius: 2rem;
}

.campsite-name {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #907a48;
}

.user-manipulation-button {
  margin: 0 1rem;
  padding: 0.5rem;
  color: #907a48;
  background-color: #3a4928;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.campsite-detail-image-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.campsite-map-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* create media query */
.campsite-detail-image-container img {
  width: 40rem;
}

.reviews-table {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.campsite-detail-container-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  box-sizing: border-box;
  width: 50%;
  min-width: 300px;
  flex-wrap: wrap;
  border: #3a4928 solid 1px;
  box-shadow: #907a48 0px 0px 10px;
}
