.campsite-images-box {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  display: flex;
  object-fit: contain;
  height: 100%;
  justify-content: center;
  position: relative;
  margin: 2rem;
  width: 400px;
}

.campsite-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  flex-direction: column;
}

.image-container img {
  object-fit: contain;
}

.image-buttons-container {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.5rem;
}

.image-buttons-left button {
  width: 60px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 1px solid #907a48;
  z-index: 1;
}

.image-buttons-left button::before,
.image-buttons-right button::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4b6b3c;
  transition: 0.5s;
  z-index: -1;
  color: #fff;
}

.image-buttons-left button:hover::before,
.image-buttons-right button:hover::before {
  top: 0;
}

.fa-circle-left,
.fa-circle-right {
  color: #d4bf88;
  z-index: 2;
}
.image-buttons-right button {
  width: 60px;
  height: 60px;
  background-color: #fff;
  text-align: center;
  line-height: 60px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 1px solid #907a48;
  z-index: 1;
}
.image-buttons-right:hover,
.image-buttons-left:hover {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.delete-image-button {
  background-color: #fff;
  border: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.delete-image-button:hover {
  color: #ff0707;
}

.add-image-button {
  background-color: #fff;
  border: none;
  color: #4b6b3c;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background-color: #e6deb9;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.add-image-button:hover {
  background-color: #4b6b3c;
  color: #e6deb9;
}

.images-control-button {
  width: 15%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
