.campsite-images-box {
  height: 300px;
  /* width: 100%; */
  background-color: chartreuse;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  display: flex;
  height: 200px;
  width: 200px;
  background-color: blue;
}

.campsite-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: red;
}
