.campsite-images-box {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  display: flex;
  object-fit: contain;
  height: 100%;
  /* width: 600px; */
  justify-content: center;
  position: relative;
  padding: 1rem;
  margin: 2rem;
  background-color: chartreuse;
}

.campsite-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 30rem;
  background-color: aqua;
  flex-direction: column;
}

.image-buttons-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-buttons-left button {
  margin: 1rem;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 36px;
  color: #ff4f00;
}
.image-buttons-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-buttons-right button {
  margin: 1rem;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 36px;
  color: #ff4f00;
}
.image-buttons-right:hover,
.image-buttons-left:hover {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}
