.campsite-images-box {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  display: flex;
  object-fit: contain;
  height: 100%;
  justify-content: center;
  position: relative;
  margin: 2rem;
  width: 400px;
}

.campsite-images {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
}

.image-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30rem;
  flex-direction: column;
}

.image-container img {
  object-fit: contain;
}

.image-buttons-container {
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image-buttons-left button {
  margin: 1rem;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 36px;
  color: #ff4f00;
}

.image-buttons-right button {
  margin: 1rem;
  background-color: transparent;
  border: none;
  text-decoration: none;
  font-size: 36px;
  color: #ff4f00;
}
.image-buttons-right:hover,
.image-buttons-left:hover {
  cursor: pointer;
  transition: ease-in-out 0.2s;
}

.delete-image-button {
  background-color: #fff;
  border: none;
  color: black;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.delete-image-button:hover {
  color: #ff0707;
}

.add-image-button {
  background-color: #fff;
  border: none;
  color: #4b6b3c;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  background-color: #e6deb9;
}
