.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
  background-color: #efd29f79;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.nav-bar a {
  color: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(109, 109, 109) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.nav-bar button {
  color: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgb(0, 0, 0) 0%,
    rgb(109, 109, 109) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}

.active {
  background-color: chartreuse;
}

.nav-bar-right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.nav-bar-right > * {
  margin: 0 0.5rem;
}

.profile-dropdown {
  position: absolute;
  right: 5%;
  top: 6%;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  line-height: 1.3;
  padding: 1em;
  font-size: 1.2em;
  cursor: pointer;
  z-index: 1;
  font-weight: 500;
  background-color: white;
}

.profile-dropdown li {
  list-style: none;
  padding: 0.5rem;
}

/* .whole-page {
  background: url(https://homelander.s3.us-west-1.amazonaws.com/ETS_DusyBasin2021-306.jpg)
    no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin: 0;
  padding: 0;
} */

html {
  margin: 0;
  padding: 0;
}
