.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 4rem;
  background-color: rgb(99, 224, 153);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}
