.login-btn {
  background-image: linear-gradient(
    to right,
    #3a4928,
    #4b6b3c,
    #d4bf88,
    #e6deb9
  );
  box-shadow: 0 4px 15px 0 #4b6b3cb9;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  font-size: 12px;
  background-size: 300% 100%;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  font-size: 18px;
}

.login-btn:hover {
  background-color: black;
  color: black;
  background-position: 100% 0;
  background-size: 200% 100%;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.login-input {
  width: 320px;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid rgb(0, 0, 0);
}

.login-form {
  font-size: 16px;
  font-weight: 600;
}

.input-wrapper {
  font-family: "Abel", sans-serif;
  font-size: 16px;
  padding: 10px;
}

.error-msg {
  color: red;
  font-size: 12px;
}

.error-msg ul {
  list-style-type: none;
  margin: auto;
}
.guest-login-form {
  padding: 1rem;
}
