.favorite-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 1rem;
}

.favorite-site-card {
  justify-content: center;
}

.favorite-site-card-item:hover {
  background-color: #4b6b3c;
  border-radius: 2rem;
  color: #fff;
}

.favorite-button-navbar {
  font-size: 16px;
}

.favorite-site-card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
  gap: 0.3rem;
}

.favorite-campsite-preview {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 2rem;
}
