.favorite-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin: 1rem;
}

.favorite-site-card {
  justify-content: center;
}

.favorite-site-card-item:hover {
  background-color: #4b6b3c;
  border-radius: 2rem;
  color: #fff;
}

.favorite-button-navbar {
  font-size: 16px;
}

.favorite-site-card-content {
  display: flex;
  flex-direction: column;
}

.favorite-site-info-erase {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0%;
  padding: 0;
}

.favorite-site-card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 0.3rem;
}

.favorite-site-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-favorite-button {
  background-color: #fff;
  border: none;
  color: #ff0707;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.delete-favorite-button :hover {
  color: rgb(0, 0, 0);
}

.favorite-campsite-preview {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 2rem;
}
