.favorite-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 2rem;
  padding: 2rem;
  margin: 1rem;
}

.favorite-site-card {
  justify-content: center;
  background-color: #fff;
}

.favorite-site-card-item:hover {
  background-color: #d4bf88;
  border-radius: 2rem;
}

.favorite-site-card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  padding: 1rem;
}

.favorite-campsite-preview {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 2rem;
}
